body {
    padding: 0;
    margin: 0;

    border: 0px solid transparent;
}

.bg {
        background-image: url(./background2.svg) ;
        width: auto;
        height: 1321px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    border: 1px solid transparent;
}


.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}
