.banner-info {
	background-attachment: scroll;
    background-color: #e8e8e8;
    opacity: 20%;
    /* fill: #333333; */
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: black;
	height: 600px;
	width: 940px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 200px 0px 0px 100px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
    min-width: 0px;
    border-radius: 5px;	
}

.header-right {
	height: 454.578px;
	width: 548.328px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding: 0px 48px 0 48px;
	max-height: none;
	min-height: 1px;
	max-width: none;
	min-width: 0px;

}
.address {


	/* Box */
	height: 237px;
	width: 452.328px;
	/* border: ; */
	border-top: 1px solid rgb(175, 175, 175);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 32px 0px 10px;
	padding: 8px 0px 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;
	
}

.list-profile {
	list-style: none;
	width: fit-content;
	height: fit-content;
}

.address-text .list-profile .address-text li {
    list-style: none;
}

.address-text .label {
	color: white;

}
.address-text .value-profile {
	color: white;
	margin-left: 30px;
}

.address-text {
	/* Font & Text */
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 22.8571px;
	text-decoration: none solid rgb(51, 51, 51);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
	color: rgb(51, 51, 51);

	/* Box */
	height: fit-content;
	width: fit-content;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	
}

.address-text li {
	width: fit-content;
	height: fit-content;
}

.header-left {
	
	/* Box */
	height: 410.656px;
	width: 391.656px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	max-height: none;
	min-height: 1px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: left;
	display: block;
	clear: none;
	z-index: auto;

}

.profile-picture {
	
	height: 300.656px !important;
	width: 300.656px !important;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 19px 0px 100px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;
	border-radius: 10px;
	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;	
}

.data-profil {
	margin-top: 10px;
	margin-bottom: 10px;
}
.data-profil-label h5 {
	color: grey;
	margin-bottom: 15px;
}
.data-profil-label h6 {
	margin-bottom: 10px;;
}
.data-profil-content h5 {
	opacity: 0;
	margin-bottom: 15px;
}
.data-profil-content h6 {
	margin-bottom: 10px;
}

.header-left .btn-profile {
	font-family : Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size : 14px;
	line-height : 20px;
	font-weight: bold;
    text-decoration : none solid rgb(255, 255, 255);
    text-align : center;
    vertical-align : middle;
    white-space : nowrap;
    word-spacing : 0px;
    /* Color & Background */
    background-color :  #1D62F0;
    background-position : 0% 0%;
    color :  #FFFFFF;
    /* Box */
    height : 38px;
    width : 283px;
    border : 1px solid  #1D62F0;
    margin : 0 0 0 10px;
    padding : 8px 16px 8px 16px;
    min-width : 140px;
    /* Positioning */
    display : inline-block;
    /* Miscellaneous */
    cursor : pointer;
}